@import "../../styles/fonts.scss";

$breakpoint-tablet-min: 768px;
$breakpoint-desktop-min: 1280px;

$font-primary: "brandon-grotesque";
$font-secondary: "bitter";

$color-mine-shaft: #2d2d2d;
$color-rolling-stone: #73777c;
$color-gold: #ffd200;

.policy-card {
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 15px;

    @media screen and (min-width: $breakpoint-tablet-min) {
        padding: 20px;
        margin-bottom: 25px;
    }

    @media screen and (min-width: $breakpoint-desktop-min) {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "top logo"
            "rule logo"
            "bottom logo";
    }

    &:hover {
        cursor: pointer;
    }

    h3 {
        color: $color-mine-shaft;
        font-family: $font-primary, sans-serif;
        font-size: 20px;
        line-height: 30px;
        margin: 10px 0;

        @media screen and (min-width: $breakpoint-desktop-min) {
            font-size: 24px;
        }
    }

    p {
        color: $color-rolling-stone;
        font-family: $font-secondary, serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $color-rolling-stone;
        margin: 10px 0;
    }

    .policy-card-top {
        @media screen and (min-width: $breakpoint-tablet-min) {
            display: grid;
            grid-template-columns: 75px auto auto;
            grid-template-areas: "icon text logo";
        }

        @media screen and (min-width: $breakpoint-desktop-min) {
            grid-area: top;
        }

        .circle-chevron-icon {
            display: none;

            @media screen and (min-width: $breakpoint-tablet-min) {
                display: block;
                width: 48px;
                height: 48px;
                border: 2px solid $color-gold;
                border-radius: 50%;
                text-align: center;
                line-height: 48px;
                margin: 15px 15px 15px 0;
                color: $color-mine-shaft;
            }
        }

        .logo-top {
            display: none;

            @media screen and (min-width: $breakpoint-tablet-min) {
                display: block;
                justify-self: end;
            }

            @media screen and (min-width: $breakpoint-desktop-min) {
                display: none;
            }
        }
    }

    .rule {
        border-top: 1px solid #e0e4e8;

        @media screen and (min-width: $breakpoint-desktop-min) {
            grid-area: rule;
            margin-right: 25px;
        }
    }

    .policy-card-bottom {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        @media screen and (min-width: $breakpoint-tablet-min) {
            grid-template-columns: auto auto auto auto;
        }

        @media screen and (min-width: $breakpoint-desktop-min) {
            grid-area: bottom;
        }

        > .subsection {
            > .value {
                color: $color-mine-shaft;
                font-family: $font-primary;
                font-size: 16px;
                line-height: 24px;
            }

            > .label {
                color: #65737e;
                font-family: $font-secondary;
                font-size: 12px;
                line-height: 18px;
            }

            @media screen and (min-width: $breakpoint-tablet-min) {
                border-left: 1px solid #e0e4e8;
                margin-top: 20px;
                padding-left: 20px;
            }
        }

        .payment-date {
            display: none;

            @media screen and (min-width: $breakpoint-tablet-min) {
                display: block;
            }
        }

        .coverage-date-info {
            margin-right: 25px;

            .coverage-dates-secondary {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color: $color-rolling-stone;
                font-family: $font-secondary;

                > p {
                    font-size: 12px;
                    line-height: 15px;
                    margin: 0;
                }

                .status-text-active,
                .status-text-expired {
                    font-family: $font-primary;
                    font-size: 14px;
                    line-height: 24px;
                    transform: translateY(-5px); /* to adjust for differing line-heights as declared in Figma */
                }
    
                .status-text-active {
                    color: #00a082;
                }
    
                .status-text-expired {
                    color: #ff3200;
                }
            }
        }

        .price-premium {
            display: none;

            @media screen and (min-width: $breakpoint-tablet-min) {
                display: block;
            }
        }

        .renewal {
            display: none;

            @media screen and (min-width: $breakpoint-tablet-min) {
                display: block;
            }

            > .label {
                color: $color-rolling-stone;
            }
        }

        .logo-bottom {
            @media screen and (min-width: $breakpoint-tablet-min) {
                display: none;
            }
        }
    }

    .logo-side {
        display: none;

        @media screen and (min-width: $breakpoint-desktop-min) {
            display: block;
            grid-area: logo;
            align-self: center;
        }
    }

    &.active {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);

        .circle-chevron-icon {
            background-color: $color-gold;
            transform: rotate(90deg);
        }
    }
}
